<mat-card class="card">
  <div class="inner">
    <p>
      {{ question.text }}
    </p>
    <div class="details">
      <span class="type"> {{ question.type }}</span>
      <span class="date"> {{ question.createdAt | date }}</span>
    </div>
  </div>
  <div class="controls">
    <button
      mat-flat-button
      color="accent"
      (click)="onEdit(question.id)">
      Edit
    </button>
    <button
      mat-flat-button
      color="warn"
      (click)="openDialog()">
      Delete
    </button>
  </div>
</mat-card>
