.card {
  width: 85%;
  margin: 20px auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.details {
  display: flex;
  gap: 20px;
  align-items: center;
}
.type {
  padding: 3px 10px;

  background-color: #bd1e5056;
  border-radius: 15px;
}
