<div class="wrapper">
  <div class="left">
    <div *ngFor="let item of notAnsweredQuestions$ | async">
      <app-single-question
        *ngIf="item.type === 'single'"
        [question]="item">
      </app-single-question>
      <app-multiple-question
        *ngIf="item.type === 'multiple'"
        [question]="item">
      </app-multiple-question>
      <app-open-question
        *ngIf="item.type === 'open'"
        [question]="item">
      </app-open-question>
    </div>
  </div>
  <div class="right">
    <div *ngFor="let item of answeredQuestions$ | async">
      <app-single-question
        *ngIf="item.type === 'single'"
        [question]="item">
      </app-single-question>
      <app-multiple-question
        *ngIf="item.type === 'multiple'"
        [question]="item">
      </app-multiple-question>
      <app-open-question
        *ngIf="item.type === 'open'"
        [question]="item">
      </app-open-question>
    </div>
  </div>
</div>
