<div class="wrapper">
  <mat-card>
    <mat-card-content>
      <form
        class="form"
        [formGroup]="questionForm"
        (ngSubmit)="onSubmit()">
        <label>{{ question.text }}</label>
        <div>
          <mat-checkbox
            *ngFor="let item of question.options"
            [formControlName]="item">
            {{ item | titlecase }}</mat-checkbox
          >
          <mat-error
            *ngIf="questionForm.hasError('required') && questionForm.dirty">
            At least one option is required
          </mat-error>
        </div>
        <app-question-controls
          *ngIf="questionForm.valid || questionForm.disabled"
          [question]="question"></app-question-controls>
      </form>
    </mat-card-content>
  </mat-card>
</div>
