<div class="wrapper">
  <mat-card>
    <mat-card-content>
      <form
        class="form"
        [formGroup]="questionForm"
        (ngSubmit)="onSubmit()">
        <label id="radio-group-label">{{ question.text }}</label>
        <mat-radio-group
          formControlName="answer"
          aria-labelledby="radio-group-label"
          aria-label="Select an option">
          <mat-radio-button
            *ngFor="let item of question.options"
            [name]="item"
            [value]="item">
            {{ item | titlecase }}
          </mat-radio-button>
        </mat-radio-group>
        <app-question-controls
          *ngIf="questionForm.valid || questionForm.disabled"
          [question]="question"></app-question-controls>
      </form>
    </mat-card-content>
  </mat-card>
</div>
